@model IEnumerable<Language>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Language Table</h4>
                    <a class="btn btn-outline-success" asp-action="create">Create</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var language in Model)
                                {
                                    <tr>
                                        <td>@language.Name</td>
                                        <td>
                                            <a class="btn btn-outline-danger" asp-action="delete" asp-route-id="@language.Id">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
